body{
background-image: url('/images/back.jpg');
background-repeat: no-repeat;
background-size: cover;
}
.navbar{
background-color:red;
text-align:center;
margin-top:1%;
margin-bottom:5%;
}
a{
border: 2px solid white;
 margin-top:4px; color:white;
}