{{#partial "content"}}
    <div class="container text-start mx-auto">

        <div class="card mb-3 mx-auto" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-8">
                    {{#each animal}}
                    <div class="card-body">
                        <h5 class="card-title">{{name}}</h5>
                        <p class="card-text">
                        <p>Name: {{name}}</p>
                        <p class="card-footer">
                        <p><a class="btn btn-danger justify-content-left" href="/animal/{{id}}/delete">delete {{name}}</a> </p>
                        <hr>
                    </div>
                        {{/each}}
                    <a href="/animal/new" class="btn btn-outline-danger"> Add Animal</a>
                    <hr>
                    <p><a class="btn btn-danger justify-content-left" href="/animal/delete">Clear Animals</a> </p>
                </div>
            </div>
        </div>

    </div>
{{/partial}}
{{> layout.hbs}}