{{#partial "content"}}

    <nav class="navbar">
        <div class="container">
            <a href="/" class="btn aqua-gradient text-white">Create Your Squad</a>
        </div>
        <!--        href="/myheros/new" -->
    </nav>



{{/partial}}

{{> layout.hbs}}